---
# Only the main Sass file needs front matter (the dashes are enough)
---

// BRAND STANDARDS -
// https://drive.google.com/folderview?id=0B9GvJvqcpl0IWWg2VlBUOTZyT0E&usp=sharing
$BLUE:           #003ca2;
$DARK_BLUE:      #003074;
$LIGHT_GREY:     #bbbbbb;
$DARK_GREY:      #616265;
$DARK_RED:       #6a282a;
$YELLOW_ORANGE:  #dbaa18;
$YELLOW:         #f3db51;
$BLACK:          #23282e;
$WHITE:          #ffffff;

$PADDING: 7px;
$HEADER_HEIGHT: 80px;
$BASE_URL: "/STEAM-Blog";


@charset "utf-8";
@import 'premain-boilerplate';
@import 'fonts';






/* ELEMENTS */
html {

  background-image: url($BASE_URL + '/img/background.jpg');

  img {
    max-width: 100%;
  }

  header, footer {
    padding: $PADDING;
  }
}



/* SITE HEADER */
#site-header {

  margin-bottom: 2 * $PADDING;

  #brand-wrapper, #logo-container, #title-container {
    display: inline-block;
    height: $HEADER_HEIGHT;
    vertical-align: top;
  }

  #title-container {
    padding-left: $PADDING;
  }

  #logo {
    height: $HEADER_HEIGHT;
  }

  #title {
    color: $WHITE;
    font-family: 'JupiterPro', serif;
    font-size: 2.5em;
  }

  #title:hover {
    text-decoration: none;
  }

  #subtitle, #navbar .nav li a {
    color: $LIGHT_GREY;
    font-family: serif;
    font-size: 1.5em;
  }

  #navbar .nav li a:hover {
    color: $WHITE;
  }

  /* when bootstrap toggles nav menu collapse */
  @media (min-width: 767px) {

    #navbar {
      display: table;
      height: $HEADER_HEIGHT !important;
    }

    #navbar * {
      display: table-cell;
      height: $HEADER_HEIGHT !important;
      text-align: center;
      vertical-align: middle;
    }

  }
}



/* SITE FOOTER */
#site-footer {
  margin-top: $PADDING;
}



/* POSTS */
.post {

  margin-bottom: 6 * $PADDING;

  .title {

  }

  .byline {
    color: $LIGHT_GREY;
    margin-bottom: 3 * $PADDING;
  }
}



/* UTILITY */
body {

  .center {
    text-align: center;
  }

  .inverted {
    background-color: $BLACK;
    color: $WHITE;
  }

  #recent-posts-list {
    list-style: none;
    padding-left: 0;
  }

  #recent-posts-list li + li {
    padding-top: 2 * $PADDING;
  }
}



/* MEDIA QUERIES */

/* when the nav logo needs to shrink */
@media (max-width: 496px) {

  /* SITE HEADER */
  #site-header {

    #logo {
      height: 0.6875 * $HEADER_HEIGHT;
    }

    #title {
      font-size: 1.75em;
    }

    #subtitle {
      font-size: 1em;
    }
  }
}






@import 'postmain-boilerplate';
