<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Active Learning</h3>
  </div>
  <div class="panel-body">
    <ul id="stem-accreditation-indicators" class="listing">
      <li><a href="{{ site.baseurl }}/active-learning/classroom-description/">Classroom Description</a></li>
      <li><a href="{{ site.baseurl }}/active-learning/disseminating-insights-and-learnings/">Disseminating Insights and Learnings</a></li>
      <li><a href="{{ site.baseurl }}/active-learning/educational-philosophy/">Educational Philosophy</a></li>
      <li><a href="{{ site.baseurl }}/active-learning/expected-impact/">Expected Impact</a></li>
      <li><a href="{{ site.baseurl }}/active-learning/measuring-impact/">Measuring Impact</a></li>
      <li><a href="{{ site.baseurl }}/active-learning/project-timeline/">Project Timeline</a></li>
    </ul>
  </div>
</div>