{% assign authorCount = post.authors | size %}
{% if authorCount == 0 %}  
  {% assign card = site.data.people[post.author] %}
  {% if card %}
    {% if card.profile == true %}<a href="{{ site.baseurl}}/team/{{ post.author }}/">{% endif %}{{ card.name }}{% if card.profile == true %}</a>{% endif %}
  {% else %}
    {{ post.author }}
  {% endif %}
{% else %}
  {% for author in post.authors %}
    {% assign card = site.data.people[author] %}
    {% if forloop.first %}
      {% if card.profile == true %}<a href="{{ site.baseurl}}/team/{{ author }}/">{% endif %}{{ card.name }}{% if card.profile == true %}</a>{% endif %}
    {% elsif forloop.last %}
      and {% if card.profile == true %}<a href="{{ site.baseurl}}/team/{{ author }}/">{% endif %}{{ card.name }}{% if card.profile == true %}</a>{% endif %}
    {% else %}
      , {% if card.profile == true %}<a href="{{ site.baseurl}}/team/{{ author }}/">{% endif %}{{ card.name }}{% if card.profile == true %}</a>{% endif %}
    {% endif %}
  {% endfor %}
{% endif %}