<div id="comments-container">

  <h2>Comments</h2>
  <p>Let us know your thoughts using the <a href="#comments-form">the form below</a>.</p>
  <hr>

  <ul class="comments listing">
    {% for comment in site.data.comments.sessions %}
      {% if comment.path == page.url %}

        <li>
          <div class="author">

            {% if comment.avatar != "" %}
              <div class="gravatar-wrapper">
                <img class="gravatar" src="{{ comment.avatar }}" alt="{{ comment.name }}">
              </div>
            {% endif %}

            <div class="byline-wrapper">
              <time datetime="{{ comment.created | date_to_xmlschema }}">{{ comment.created | date_to_long_string }}</time>
              {% if comment.url == "" %}
                <span class="commenter">{{ comment.name }}</span>
              {% else %}
                <a href="{{ comment.url }}" class="commenter">{{ comment.name }}</a>
              {% endif %}
            </div>

          </div>
          <div class="comment">

            {{ comment.comment }}

          </div>
          <hr>
        </li>

      {% endif %}
    {% endfor %}
  </ul>

  <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = '{{ page.url | prepend: site.url }}';
            this.page.identifier = this.page.url;
        };
        (function() {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//steam-blog.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
