{% assign card = site.data.people[post.author] %}
 <div class="post">
  <h1 class="title"><a class="post-wrapper" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
  <p class="byline">Written by {% if card.profile == true %}<a href="{{ site.baseurl}}/team/{{ post.author }}/">{% endif %}{{ card.name }}{% if card.profile == true %}</a>{% endif %}, {{ card.title }} | {{ post.date | date: "%-d %B %Y" }}</p>
  <p>{{ post.excerpt }}</p>
  <a class="btn btn-default" href="{{ site.baseurl }}{{ post.url }}" role="button">Read More</a>
</div>
