<header>
    <div class="row-fluid">
        <div class="span4">
            <img src="img/chapelcross.jpg" alt="Chapel cross as seen from the biology offices" height="350px" />
        </div>
        <div class="span8">
            <div class="row">
                <div class="span4">
                    <img src="img/MR. GREGORY-OWSLEY-STA-450.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <img src="img/MR. PAUL-WINKELER-STA-298.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <img src="img/MR. JAMES-CLARK-STA-5000000040.jpg" />
                </div>
            </div>
        </div>
    </div>
</header>
