<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">STEM Accreditation Indicators</h3>
  </div>
  <div class="panel-body">
    <ul id="stem-accreditation-indicators" class="listing">
      <li><a href="{{ site.baseurl }}/accreditation/indicators/st1.1/">ST1.1 - Supporting non-traditional students</a></li>
      <li><a href="{{ site.baseurl }}/accreditation/indicators/st1.2/">ST1.2 - Authentic problem solving</a></li>
      <li><a href="{{ site.baseurl }}/accreditation/indicators/st1.3/">ST1.3 - Self-directed learning</a></li>
      <li><a href="{{ site.baseurl }}/accreditation/indicators/st1.4/">ST1.4 - Technology use</a></li>
      <li><a href="{{ site.baseurl }}/accreditation/indicators/st1.5/">ST1.5 - Performance-based assessments</a></li>
      <li><a href="{{ site.baseurl }}/accreditation/indicators/st1.6/">ST1.6 - Problem-based curriculum</a></li>
      <li><a href="{{ site.baseurl }}/accreditation/indicators/st1.7/">ST1.7 - Educator collaboration</a></li>
      <li><a href="{{ site.baseurl }}/accreditation/indicators/st1.8/">ST1.8 - STEM literacy</a></li>
      <li><a href="{{ site.baseurl }}/accreditation/indicators/st1.9/">ST1.9 - Professional development</a></li>
      <li><a href="{{ site.baseurl }}/accreditation/indicators/st1.10/">ST1.10 - Community partners</a></li>
      <li><a href="{{ site.baseurl }}/accreditation/indicators/st1.11/">ST1.11 - Mentor support </a></li>
    </ul>
  </div>
</div>
