{% assign card = site.data.people[page.person] %}
{% assign posts = site.posts | where: "author", page.person %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Posts by {{ card.name }}</h3>
  </div>
  <div class="panel-body">
    <ul id="recent-posts-list" class="listing">
      {% for post in posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><span> {{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
