@font-face{
	font-family: 'JupiterPro';
	src: url('/fonts/jupiter_pro-webfont.eot');
	src: url('/fonts/jupiter_pro-webfont.eot#iefix') format('embedded-opentype'),
	     url('/fonts/jupiter_pro-webfont.woff') format('woff'),
	     url('/fonts/jupiter_pro-webfont.ttf') format('truetype'),
	     url('/fonts/jupiter_pro-webfont.svg#webfont') format('svg');
}
