---
layout: default
---
<div class="container">
  <div class="row">
    <div id="active-learning" class="col-md-8">
      <h1>Active Learning</h1>
      <!--<p class="italic-subtitle">STEM students have the skills, knowledge, and thinking strategies that prepare them to be innovative, creative, and systematic problem-solvers in STEM fields of study and work.</p>-->
    </div>
    <div class="col-md-4">
      {% include active-learning-topics.html %}
      {% include recent-posts.html %}
    </div>
  </div>
</div>