---
layout: default
---
<div id="people-container" class="container">

  {% assign numColumns = 4 %}
  {% assign columnWidth = 12 | divided_by: numColumns %}

  {% for person in site.data.people %}

    {% cycle 'add row' : '<div class="row">', nil, nil, nil %}

      <div class="col-sm-{{columnWidth}}">
        <div class="profile-image-wrapper">
          <img class="profile-image" src="{{ site.baseurl}}/{{ person.image }}" alt="{{ person.name }}">
        </div>
        <div class="profile-data-wrapper inverted">
          <p class="profile-name">{{ person.name }}</p>
          <p class="profile-title">{{ person.title }}</p>
        </div>
      </div>

    {% cycle 'end row' : nil, nil, nil, '</div>' %}

  {% endfor %}
  {% cycle 'end row' : nil, '</div>', '</div>', '</div>' %}

</div>
