---
layout: default
---
<div id="people-container" class="container">

  {% assign numColumns = 4 %}
  {% assign columnWidth = 12 | divided_by: numColumns %}
  {% for person in site.data.people %}
    {% assign card = person[1] %}

    {% cycle 'add row' : '<div class="row">', nil, nil, nil %}
      {% if card.image %}
        <div class="col-sm-{{columnWidth}}">
          <img width="100%" src="http://placehold.it/100%">
        </div>
      {% endif %}
    {% cycle 'end row' : nil, nil, nil, '</div>' %}

  {% endfor %}
  {% cycle 'end row' : nil, '</div>', '</div>', '</div>' %}

</div>
