---
layout: default
---
<div class="container">
  <div class="row post">
    <div class="col-md-8">
      <h1 class="title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
      <p class="byline">Written by <a href="{{ site.baseurl}}/team/{{ page.author }}/">{{ site.data.people[page.author].name }}</a> | {{ page.date | date: "%-d %B %Y" }}</p>
      <article class="post-content">

        {{ content }}

      </article>

      {% include comments.html %}

    </div>
    <div class="col-md-4">

      {% include recent-posts.html %}

    </div>
  </div>
</div>
