---
layout: default
---
<div id="tag-search" class="container">
  <div class="row tags">
    <div id="tags-list" class="col-md-12">
      {{ content }}
    </div>
  </div>
  <div class="row">
    <div id="posts-list" class="col-md-12">
      {% for post in site.posts %}
        {% include excerpt-tagged.html %}
      {% endfor %}  
    </div>
  </div>
</div>

<script>
  var posts = [{% for post in site.posts %}
      {"title":"{{ post.title | replace: '"', ''' }}","author":"{{ post.author }}","tags":"{{ post.tags }}","url":"{{ post.url }}"}{% unless forloop.last %},{% endunless %}{% endfor %}
  ];
</script>